{% extends 'base.html.twig' %}

{% block title %}
    <h1>{{ 'title.lessons_list'|trans }}</h1>
{% endblock %}
{% block body %}
    {{ 'title.lessons_list'|trans }}
    {% if data is defined and data|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Tags</th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.tags|join(', ') }}</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>
            Empty list.
        </p>
    {% endif %}

{% endblock  %}